  <h2>スタッフ新規登録</h2>
<div class="container">
   <div class="staff-details">
  <%= render 'form' %>
  
     </div>

   <div class="staff-links">
     <%= link_to '一覧へ戻る', staffs_path, class: 'btn btn-default' %>
   </div>
</div>
