<h1>ブログトップ</h1>

<div class="container">
  <div class="row">


           <%= image_tag 'top.jpg' %>


    
    <div class="col-xs-12">
      <p>ここで日々の出来事を書いていきます。 <br>
    <%= link_to 'ブログの一覧', blogs_path, class: 'btn btn-default' %>
      </p>
    </div>
  </div>
</div>