<h1>Staff Search ver3.0</h1>

<div class="container">
  <div class="row">


           <%= image_tag 'top.png' %>


    
    <div class="col-xs-12">
    <%= link_to 'ログイン', sessions_path, class: 'btn btn-default' %>
      </p>
    </div>
  </div>
</div>