// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, h3, h4, h5 {
  font-size: x-large;
  border-style: dotted;
  border-width: 0px;
}

div.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}

li{
  list-style: none;
}
div {
  text-align: center;
  border-style: solid;
  border-width: 0px;
}

table {
  margin-left: auto;
  margin-right: auto
}

th, td {
  padding: 5px;
  font-size: 1em
}

div.blog-panel {
  background-color:#99CCFF;
  border-width: 2px;
  border-color: #CCFFFF;
  height: 200px;
  margin: 5px 0px;
  padding: 10px;
}

div.blog-details {
  background-color:#99CCFF;
  border-width: 2px;
  border-color: #CCFFFF;
  height: auto;
  padding: 10px;
  margin:0 auto;
}